header{
    width: 100%;
    height: 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:  #33003d;
}

.buttonHeader{
    margin-left: 20px;
}

.registerButton{
    padding: 10px 32px !important;
}

section#logo{
    a{
        img{
            width: 2rem;
        }
    }
}

@media screen and (max-width:600px){
    header{
        display: none;
    }
}