<section id="containerLogin">
    <form [formGroup]="loginForm">
        <nav class="logoContainer">
            <a [routerLink]="'/'"><img class="logoImg" src="../../../assets/logo/logo1.png" alt="Logo"></a>
        </nav>
        <br><br><br>
        <mat-form-field appearance="outline" class="example-full-width">
            <mat-label>Email:</mat-label>
            <input matInput formControlName="loginEmail" name="loginEmail" placeholder="Digite seu e-mail...">
        </mat-form-field >
        <br>
        <mat-form-field appearance="outline" class="example-full-width">
            <mat-label class="loginInput">Senha:</mat-label>
            <input [type]="hide ? 'password' : 'text'" matInput formControlName="loginPass" name="loginPass" class="loginInput" placeholder="Digite sua senha...">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
        </mat-form-field>
        <br><br>
        <button class="button formButton">Entrar</button>
        <br>
        <a [routerLink]="'/register'" class="button formButton">Cadastrar-se</a>
        <br>
        <a style="color: #6818b5;" [routerLink]="'/resetPassword'">Esqueci a senha...</a>
    </form>
</section>
