<section id="imageContainer">
    <div id="container" class="textContainerImage">
        <div class="logo">
            <img src="../../../assets/logo/logo2.png" alt="Logo" width="50%">
        </div>
        <h1>Lorem Ipsum is simply dummy text of the printing and</h1>
        <br>
        <p>Lorem Ipsum is simply dummy text of the printing and Lorem Ipsum is simply dummy text of the printing and</p>
        <br>
        <a class="button" [routerLink]="'/assine'">Assine já!</a>
    </div>
</section>
<section id="container" class="aboutContainer">
    <div class="cardsServices">
        <h1>Lorem Ipsum is simply </h1>
        <p>Lorem Ipsum is simply dummy text of the printing and Lorem Ipsum is simply dummy text of the printing and Lorem Ipsum is simply dummy text of the printing and Lorem Ipsum is simply dummy text of the printing and</p>
        <br>
        <h3>Ofereçemos</h3>
        <app-home-card></app-home-card>
    </div>
</section>
